<p>
    The student you selected is: <br />
    <ul>
          <li>Last Name: <%= @student[0][0] %></li>
          <li>First Name: <%= @student[0][1] %></li>
          <li>Major: <%= @student[0][2] %></li>
          <li>Email: <%= @student[0][3] %></li>
          <li>Status: <%= @student[0][4] %></li>
    </ul>
</p>